<div class="container">
    <div class="hero-section">
        <!-- <img src="assets/images/courses.jpg" width="940"> -->
    </div>
    <div>
        <h2>Popular Courses</h2>
        <hr style="border: #ccc 2px solid; margin: 5px 0px">
    
        <!-- <ng-container *ngFor="let game of games">
            <div class="course-container" *ngIf="game.ratings >= 4.6">
                <div class="course-card">
                    <div class="course-name"><h4>{{game.name}}</h4></div>
                </div>
            </div>  
        </ng-container> -->
    </div>
</div>

