<div class="container">
    <div class="hero-section">
        <img src="../../assets/images/banner.png" width="940">
    </div>
    <div>
        <h2>Freebies To Lookout For!</h2>
        <ng-container *ngFor="let freebie of freebies | slice:0:4">
            <div class="freebie-container">
                <div class="freebie-card">
                    <div>
                        <img [src]="freebie.image" style="width:220px; height:140px;">
                    </div>
                    <div class="freebie-name">
                        <h4>
                            <div *ngIf="freebie.name.length>29; else elseBlock">{{freebie.name.slice(0, 29)}}...</div>
                            <ng-template #elseBlock>{{freebie.name}}</ng-template>
                        </h4>
                    </div>
                    <div class="freebie-description">
                        <p>
                            {{freebie.description.slice(0, 80)}}...</p>
                    </div>
                    <div class="details">
                        <div class="freebie-type"
                            [ngStyle]="{color: ((freebie.type === 'FREE') || freebie.type.includes('on')) ? 'Green' : 'Red'}">
                            {{freebie.type}}
                        </div>
                    </div>

                    <div class="freebie-buttons">

                        <button class="btn btn-buy"><a href={{freebie.link}}>Play Now</a></button>

                        <button class="btn btn-show" routerLink="/Freebie/{{freebie.id}}">Show Details</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>