text
{
    color: lime;
}
nav {
    background-color: black;
    position: absolute;
    width: 100%;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: darkgrey;
  color: lime;
  border-radius: 4px;
}
nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}